<% include layouts/header.ejs %>

landing page ok thanks
<br>
<a href="/subreddits">Go to subreddit index page</a>
<br>
<a href="/subreddits/new">Make a new subreddit</a>

<% include layouts/footer.ejs %>
