<% include layouts/header.ejs %>

landing page ok thanks
<br>
<a href="/subreddit">Go to subreddit index page</a>
<br>
<a href="/subreddit/new">Make a new subreddit</a>

<% include layouts/footer.ejs %>
