<% include layouts/header.ejs %>

landing page ok thanks
<br>
<a href="/subreddit">Go to subreddit index page</a>
<br>
<a href="/subreddit/new">Make a new subreddit</a>
<br>
<a href="/register">Make a new user</a>


<h2>This is a list of all subreddits </h2>
<ul>
    <% subreddits.forEach(function(subreddit) { %>
    <li>
        <a href="/subreddit/<%= subreddit.id %>"><%= subreddit.name %></a>
    </li>
    <% }); %>
</ul>

<% include layouts/footer.ejs %>
