<% include ../layouts/header.ejs %>

<form action="/subreddits" method="POST">
    <input type="text" name="subredditName" placeholder="Make a new subreddit!">
</form>

<% include ../layouts/footer.ejs %>
