<% include ../layouts/header.ejs %>

<a href="/subreddit/<%=subreddit.id %>">Go to subreddit show page</a>
<h1>Single post page for: <%= post.title %></h1>

<p>Content is: <br/><%- post.content %></p>

<% include ../layouts/footer.ejs %>
